<main class= "main">
    <section class="hero">
        <h2>Upcoming Events April 04 - 06, 2023</h2>
        <section class="column-2-3">
            <h1>Cybersecurity Meetup</h1>
            <h2>The Demo Forum presents DSPM & Zero Trust: Platforms</h2>
            <h3>Join us for 3 days of fun:</h3>
            <p>Explore demos from a wide range of vendors, panel discussions on various ZT Platforms and DSPM topics and interviews with top industry analysts. Includes:</p>
            <ul>
                <li>Two events!</li>
                <li>Analyst Led Panels</li>
                <li>Live Virtual Hangouts & Happy Hours</li>
                <li>New Technology Demos</li>
            </ul>
            <section class="hostPanel">
                <h4>Hosted by:</h4>
                <img src="" alt="richard stiennon">
                <img src="" alt="anton chuvakin">
                <img src="" alt="chase cunningham">
                <img src="" alt="john kindervag">
            </section>
        </section>

        <section class="column-1-3">
            <fieldset>
                <h3>Register Now</h3>
                <p>Also provides full access to our video intensive resource platform</p>
                <form action= "/createBadge" enctype="multipart/form-data" method="POST">
                    <div>
                        <input name="firstName" type="text" class="form-control" id="firstName" placeholder="First Name" required>
                    </div>
                    <div>
                        <input name="lastName" type="text" class="form-control" id="lastName" placeholder="Last Name" required>
                    </div>
                    <div>
                        <input name="email" type="email" class="form-control" id="email" placeholder="Email" required>
                    </div>
                    <div>
                        <input name="jobTitle" type="text" class="form-control" id="jobTitle" placeholder="Job Title" required>
                    </div>
                    <div>
                        <input name="company" type="text" class="form-control" id="company" placeholder="Company" required>
                    </div>
                    <div>
                        <input name="linkedIn" type="text" class="form-control" id="linkedIn" placeholder="LinkedIn URL" required>
                    </div>
                    <button name= "submit" type="submit" class="btnFull">Get a FREE ticket</button>    
                </form>
            </fieldset>
        </section> 
        
    </section>
</main>